/**
 * CSS for the JSP page
 */

* {
	font-family: Arial;
}

#menu{
	padding: 0;
	border-bottom: solid 1px #888888;
}

#menu a {
	font-weight: bold;
	padding: 2px;
	margin: 0 2px 0 2px;
	text-decoration: none;
}

#menu a.current{
	color: black;
	border-top: solid 1px #888888;
	border-left: solid 1px #888888;
	border-right: solid 1px #888888;
}

#menu a:hover {
	color: blue;
}

table {
	border: solid 1px black;
}

th, td {
	padding: 0 12px 0 2px;
}

table#current_users th, td {
	text-align: center;
}
table#server_stats th {
	text-align: left;
}

form {
	display: inline;
}

